<body id="body">
    <div class="navbar">
        <h1 class="title">Darn<span>Ban</span></h1>
        <div class="nav-links">
            <button>New Project</button>
            <button>Settings</button>
        </div>
    </div>
    <div class="project-board-container">
        <div class="project-board">
            {{range .Projects}}
            <div class="project" hx-post="/openProject/" hx-target="#body" hx-vals='{"projectID": "{{.ID}}", "projectName": "{{.Name}}"}'>
                <h2>{{.Name}}</h2>
            </div>
            {{end}}
        </div>
    </div>
</body>