<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darnban</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>
<body id="body">
    <div class="login-container">
        <h1 class="title">Darn<span>Ban</span></h1>
        <form hx-post="/login/" hx-target="#body">
            <label for="username">Username:</label>
            <input name="username" type="text" placeholder="Username">
            <label for="password">Password:</label>
            <input type="password" placeholder="Password">
            <button class="log-reg-btn" type="submit">Login</button>
        </form>
        <p class="switch-log-reg-text">Don't have an account? 
            <button class="switch-log-reg" type="submit" hx-post="/swap-reg/" hx-target="#body">Sign Up!</button>
        </p>
    </div>
</body>
</html>