<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport"
    content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <title>Darnban</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="../static/js/modal.js" defer></script>
    <script src="../static/js/sortable.js" defer></script>
    <script src="../static/js/delete.js"></script>
    <script src="../static/js/deleteBoard.js" defer></script>
    <script src="../static/js/deletetask.js" defer></script>
</head>
<body id="body">
     <!--INDEXSIGNED.HTML-->
    <div class="navbar">
        <h1 class="title">Darn<span>Ban</span></h1>
        <div class="nav-links">
            <button data-modal-target="#modal">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/>
                </svg>
            </button>
            <button id="delete-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                </svg>
            </button>
            <button hx-post="/signout/" hx-target="#body">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="project-board-container">
        <div class="project-board">
            {{range .Projects}}
            <div class="project-container"> 
                <button data-delete-button class="delete-button-projects delete-notactive" hx-post="/deleteProject/" hx-confirm="Are you sure you want to delete this project? All boards and tasks will be lost with no way of recovering them." hx-vals='{"projectID": "{{.ID}}"}' hx-target="#body">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z"/>
                    </svg>
                </button>
                <div data-project class="project" hx-post="/openProject/" hx-target="#body" hx-vals='{"projectID": "{{.ID}}", "projectName": "{{.Name}}"}'>
                    <h2>{{.Name}}</h2>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>New Project</h2>
                <button data-close-button>x</button>
            </div>
            <div class="modal-body">
                <form hx-post="/createProject/" hx-target="#body">
                    <label for="projectName">Project Name</label>
                    <input type="text" name="projectName" id="projectName" placeholder="Project Name">
                    <button type="submit">Create Project</button>
                </form>
            </div>
        </div>
    </div>
    <div id="overlay"></div>

</body>
</html>