 <body>
    <div class="navbar">
        <h1 class="title">Darn<span>Ban</span></h1>
        <div class="nav-links">
            <button data-modal-target="#modal">New Board</button>
        </div>
    </div>
    <div class="boards-container">
        <div class="boards">
            {{range $board := .Boards}}
            <div class="board">
                <div class="board-head">
                    <h2>{{$board.Name}}</h2>
                    <button data-modal-target="#modal{{$board.ID}}" value="{{$board.ID}}">+</button>
                </div>
                <div class="tasks">
                        {{range $task := .Tasks}}
                        <div draggable="true" class="task">
                            <h3>{{$task.Name}}</h3>
                            <p class="discription">{{$task.Description}}</p>
                            {{if eq $task.Type "Code"}}
                                <p class="type code">{{$task.Type}}</p>
                            {{else if eq $task.Type "UI/UX"}}
                                <p class="type UI">{{$task.Type}}</p>
                            {{end}}
                        </div>
                        {{end}}
                </div>
            </div>
             <div class="modal" id="modal{{$board.ID}}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>New Task</h2>
                        <button data-close-button>x</button>
                    </div>
                    <div class="modal-body">
                        <form hx-post="/createTask/" hx-target="#body" hx-vals='{"projectID": "{{$board.ProjectID}}", "boardID": "{{$board.ID}}"}' hx>
                            <label for="taskName">Task Name</label>
                            <input type="text" name="taskName" id="taskName" placeholder="Task Name">
                            <label for="taskDescription">Task Discription</label>
                            <textarea type="text" name="taskDescription" id="taskDescription" placeholder="Task Description"></textarea>
                            <label for="taskType">Task Type</label>
                            <select name="taskType" id="taskType">
                                <option value="Code">Code</option>
                                <option value="UI/UX">UI/UX</option>
                            </select>
                            <button type="submit">Create Task</button>
                        </form>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>New Board</h2>
                <button data-close-button>x</button>
            </div>
            <div class="modal-body">
                <form hx-post="/createBoard/" hx-target="#body" hx-vals='{"projectID": "{{.Project.ID}}"}'>
                    <label for="boardName">Board Name</label>
                    <input type="text" name="boardName" id="boardName" placeholder="Board Name">
                    <button type="submit">Create Board</button>
                </form>
            </div>
        </div>
    </div>
   
    <div id="overlay"></div>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/sortable.js"></script>
 </body>


