<body id="body">
    <div class="navbar">
        <h1 class="title clickable" hx-trigger="click" hx-post="/returnToDash/" hx-target="#body">
            Darn<span>Ban</span>
        </h1>
        <div class="nav-links">
            <button data-modal-target="#modal">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path
                        d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z" />
                </svg>
            </button>
            <button class="delete-board-button" Id="delete-board-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path
                        d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                </svg>
            </button>
            <button hx-post="/returnToDash/" hx-target="#body">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path
                        d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                </svg>
            </button>

        </div>
    </div>
    <div class="boards-container">
        <div class="boards">
            {{range $board := .Boards}}
            <div class="board-container">
                <button data-board-delete-btn class="delete-board-btn delete-notactive" hx-post="/deleteBoard/" hx-target="#body" hx-vals='{"projectID": "{{$board.ProjectID}}", "boardID":"{{$board.ID}}"}' hx-confirm="Are you sure you want to delete this board? All tasks will be lost with no way of recovering them.">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path
                            d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z" />
                    </svg>
                </button>
                <div data-board class="board">
                    <div class="board-head">
                        <h2>{{$board.Name}}</h2>
                        <div class="board-btns">
                            <button data-modal-target="#modal{{$board.ID}}" value="{{$board.ID}}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                                </svg>
                            </button>
                            <button data-delete-task-toggle class="delete-task-toggle" id="delete-task-toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                    <path
                                        d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="tasks">
                        {{range $task := .Tasks}}
                        <div draggable="true" class="task-container">
                            <button data-task-delete-btn class="delete-task-btn delete-notactive" hx-post="/deleteTask/" hx-target="#body"
                                hx-vals='{"projectID": "{{$board.ProjectID}}", "boardID":"{{$board.ID}}", "taskID": "{{$task.ID}}"}'
                                hx-confirm="Are you sure you want to delete this task? There is no way of recovering it.">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                    <path
                                        d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z" />
                                </svg>
                            </button>
                            <div data-task class="task">
                                <h3>{{$task.Name}}</h3>
                                <p class="discription">{{$task.Description}}</p>
                                {{if eq $task.Type "Code"}}
                                <p class="type code">{{$task.Type}}</p>
                                {{else if eq $task.Type "UI/UX"}}
                                <p class="type UI">{{$task.Type}}</p>
                                {{end}}
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="modal" id="modal{{$board.ID}}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>New Task</h2>
                            <button data-close-button>x</button>
                        </div>
                        <div class="modal-body">
                            <form hx-post="/createTask/" hx-target="#body"
                                hx-vals='{"projectID": "{{$board.ProjectID}}", "boardID": "{{$board.ID}}"}' hx>
                                <label for="taskName">Task Name</label>
                                <input type="text" name="taskName" id="taskName" placeholder="Task Name">
                                <label for="taskDescription">Task Discription</label>
                                <textarea type="text" name="taskDescription" id="taskDescription"
                                    placeholder="Task Description"></textarea>
                                <label for="taskType">Task Type</label>
                                <select name="taskType" id="taskType">
                                    <option value="Code">Code</option>
                                    <option value="UI/UX">UI/UX</option>
                                </select>
                                <button type="submit">Create Task</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>


    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>New Board</h2>
                <button data-close-button>x</button>
            </div>
            <div class="modal-body">
                <form hx-post="/createBoard/" hx-target="#body" hx-vals='{"projectID": "{{.Project.ID}}"}'>
                    <label for="boardName">Board Name</label>
                    <input type="text" name="boardName" id="boardName" placeholder="Board Name">
                    <button type="submit">Create Board</button>
                </form>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
</body>